/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }
 body {
 	line-height: 1;
 }
 ol, ul {
 	list-style: none;
 }
 blockquote, q {
 	quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: '';
 	content: none;
 }
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }

 p {
   text-indent: 0 !important;
 }

a {
  color: inherit;
}

/*css reset*/
/*Main*/
body {
  // font-family: 'Varela Round', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  color: rgb(72, 72, 72);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:focus {
  outline:0;
}

input:focus {
  outline:none;
}

select:focus {
  outline:none;
}

textarea {
  padding-top: 10px;
  resize: vertical;
  line-height: inherit;
}

// calender
input[type="date"]::-webkit-clear-button {
    display: none;
}

input[type=date]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

//checkboxes
input[type="checkbox"]{
  cursor: pointer;
  -webkit-appearance: none;
  border: 1px solid #aaa;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 2px;
}

.checked {
  background-color: #008489;
}

#date {
  width: 15px;
}


#homepage{
  width: auto;
  height: 392px;
  
}
// select

select {

  // border: 1px solid #111;
  background: transparent;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 11px;
  border: none;
  border-radius: 2px;
  height: 34px;
  color: #76767A;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}

/* CAUTION: IE hackery ahead */
select::-ms-expand {
    display: none; /* remove default arrow on ie10 and ie11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    }
}


// header
.top-nav {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-nav button {
  color: #767676;
}

.top-nav a {
  color: #767676;
}



/*logo*/
.logo img {
  height: 60px;
  width: auto;
}

.logo {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
  justify-content: center;
  margin: auto;
  height: 50px;
  width: 50px;
}


.header-container {
  box-shadow: 0px 4px 16px 3px rgba(0,0,0,0.1);
  margin-bottom: 50px;
  // z-index: 5;
  // position: fixed;
  // top: 0;
  width: 100%;
  background-color: white;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.show-header {
  z-index: 5 !important;
  position: fixed !important;
  top: 0 !important;
}

.home-page-greeting{
  width: 620px;
  margin-left: 140px;
  margin-right: 138px;
  padding-top: 60px;
  margin-bottom: 80px;
}
.home-page-greeting-title{
  color: #FF5A5F;
  font-weight: bold;
  font-size: 48px;
  text-rendering: optimizeLegibility;
}
.home-page-greeting-body{
  padding-top: 10px;
  display: block;
  color: #484848;
  letter-spacing: -0.8px;
  font-weight: 300;
  font-size: 48px;
  text-rendering: optimizeLegibility;
}

.site-nav-buttons {
  padding-top: 15px;
  padding-bottom: 21px;
  margin-left: 65px;
}

.with-greeting {
  margin-left: 130px;
}



.site-nav-buttons a {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  padding-bottom: 17px;
}

//
// .anywhere-searchbutton {
//   height: 20px;
//   border: 1px solid rgba(0, 0, 0, 0.2);
//   border-left: none;
// }
// .when-calender-button{
//   height: 20px;
//   border: 1px solid rgba(0, 0, 0, 0.2);
//   border-left: none;
//   border-right: none;
// }
// .guest-button{
//   height: 20px;
//   border: 1px solid rgba(0, 0, 0, 0.2);
//   border-right: none;
// }

.site-nav-button {
  color: #FF5A5F;
  border-bottom: 3px solid #008489;
}
.selected-site-nav-button {
  cursor: default;
  color: #484848;
  border-bottom: 3px solid #484848;
}


#search-button {
  border: none;
  border-right: 1px solid rgb(209, 214, 214);
  padding: 10px;
  height: 15px;
  width: 260px;
}

.anywhere-searchbutton select {
  width: 150px;
  padding: 5px 30px 5px 20px !important;
  font-size: 11px;
  border: none;
  border-radius: 2px;
  height: 34px;
  color: #76767A;
}
// SearchFormButtons
.search-form-button {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.search-form-button input {

  border: none;
  padding: 10px;
  height: 15px;
  width: 150px;
}

.search-form-button-container {
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;
  border: 1px solid #66666;
  border-radius: 4px;
}


// homedetail
.home-detail {
  // margin-top: 0px;
  // margin-left: 100px;
  // margin-right: 100px;
  display: flex;
  width: 64%;
  margin: 0 auto;
  // justify-content: space-around;
  flex-direction: row;
}

.home-detail h4 {
  padding-bottom: 15px;
  color: #484848;
  font-weight: 400;
}

.home-detail-container img {
  height: 600px;
  width: 100%;
  margin: 0;
  // background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-sizing: border-box;
}

#last-home-detail-el {
  border: none;
}

#ammenities-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ammenities-icon p {
  font-size: 12px;
}

#safety-devices {
  display: flex;
  justify-content: space-around;
}

#listed-feats {
  width: 200px;
}
.ammenities{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-and-space-beteen {
  display: flex;
  justify-content: space-between;
}

.home-detail-sub-item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(209, 214, 214);
  // padding-right: 100px;
}
.home-detail-items  {
  padding-right: 30px;
  min-width: 420px;
  max-width: 700px;
}

.home-detail-image-summary{
  color: #aaa;
  display: flex;
  font-size: 14px;

  justify-content: space-between;
  flex-direction: row;
  padding: 20px;
  font-weight: 100;
  // border-bottom: 1px solid #aaa;
  border-bottom: 1px solid rgb(209, 214, 214);;
}

.home-detail-image-summary-items {
  display: flex;
  border: none;
  flex-direction: column;
  align-items: center;
}

.home-detail-image-summary p {
  font-size: 12px;
  padding-top: 10px;
}



.home-detail-container h3 {
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 28px;
}

.home-detail-items:last-child {
  border: none !important ;
}

.home-detail-container li {

}

.home-detail-container p {
  font-size: 17px;
  font-weight: 300;
  letter-spacing: -0.2px;
  line-height: 22px;
}

#home-detail-heading {
  border-bottom: 1px solid rgb(209, 214, 214); ;
  // border-bottom: 1px solid rgb(166, 166, 166) ;
  padding-top: 10px;
  padding-bottom: 10px;
}

.home-detail-title {
  font-size: 36px ;
  font-weight: 700 ;
  letter-spacing: -0.6px ;
  line-height: 44px ;
  padding-bottom: 4px ;
  padding-top: 6px ;
  word-wrap: break-word;
}

.home-detail-address{
  color: inherit;
  text-decoration: none;
  line-height: 22px;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0.2px;
}


// BookingForm


.booking-form {
  position: sticky;
  // right: 0;
  top: 168px;
  // right: 100px;

  // display: flex;
  // justify-content: flex-end;
  // // align-items: center;
  // flex-direction: column;
  border: 1px solid rgb(209, 214, 214);
  width: 340px;
  height: 480px;
  margin-top: -3px;
}

#error {
  color: red;
}

.booking-form-heading {
  background-color: rgba(60,63,64,0.9);
  border: 0;
  color: #fff;
  height: 50px;
  padding: 13px 20px 10px ;
  z-index: 1;
  overflow-y: visible;
  box-sizing: border-box;
  width: 340px;
  position: relative;
  top: -51px;
}

.booking-form-guests{
  display: flex;
  margin: 5px;

  flex-direction: column;
}

.booking-form-heading span {
  border: none;
  z-index: auto;
  display: inline;
  letter-spacing: 0.2px;
  line-height: 18px;
  font-size: 15px;
  font-weight: 300;
}

#booking-form-price {
  z-index: auto;
  display: inline;
  letter-spacing: 0.5px;
  line-height: 28px;
  font-size: 22px;
  font-weight: 400;
}

.booking-form-body {
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 340px;
  box-sizing: border-box;
  //text
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.2px;
  line-height: 18px;
}
.booking-form-body form {
  width: 315px;

}


.booking-form select {
  // border: 1px solid rgb(166, 166, 166);
  border: 1px solid rgb(209, 214, 214);
}


.booking-form-date {
  display: flex;
  flex-direction: row;

}

#checkinout{
  padding-bottom: 10px;
}



#booking-date {
  border: none;
  border: 1px solid rgb(209, 214, 214);
  border-collapse: collapse;
  border-color: #dbdbdb;
  font-size: 16px;
  padding: 12px;
  width: 130px;
}



.booking-form-guests{
  margin-top: 18px;
  margin-bottom: 18px;
}

.booking-form-guests select {
  height: 42px;
  width: 300px;
  padding-bottom: 10px;
  border-color: rgb(209, 214, 214);
  font-size: 16px;
  padding: 12px;
  background: #fff;
  text-align: left;
  line-height: normal;
  display: block;
  border: 1px solid rgb(209, 214, 214);
  color: #484848;
}

#booking-form-guests {

  padding-bottom: 10px;
}


.booking-form button {
  display: block;
  white-space: normal;
  width: 100%;
  border-color: #ff5a5f;
  background-color: #ff5a5f;
  color: #fff;
  padding: 13px 27px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  line-height: 1.43;
}

.booking-form button:hover {
  background-color: rgb(255, 110, 95);
}

.booking-form p {
  padding: 20px 0 20px 0;
  word-wrap: break-word !important;
  font-size: 12px !important;
  line-height: 16px !important;
  letter-spacing: 0.4px
}

// booking-page
.booking-page-book-button{
  display: block;
  white-space: normal;
  width: 100px;
  border-color: #ff5a5f;
  background-color: #ff5a5f;
  color: #fff;
  padding: 13px 27px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  line-height: 1.43;
}

.booking_page_container {
  justify-content: space-around;
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 200px;
  display: flex !important ;
  flex-direction: row !important ;
}

.booking-page-summary-details {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  box-sizing: border-box;
  flex-direction: column;
}

.booking-page-summary {
  border: 1px solid rgb(209, 214, 214);
  border-radius: 3px;
  line-height: 20.02px;
  font-weight: 300;
  max-height: 600px;
  width: 250px;
}



.booking-page-summary img {
  height: 140px;
  width: 250px;
}

.booking-page-summary h2 {
  color: #484848;
  font-size: 24px;
  line-height: 30px;
}

.booking-page-summary p {
  color: #767676;
  font-size: 14px;
}

.booking-page-summary h4 {
  color: #484848;
  font-size: 17px;

}

.booking-page-summary-header {
  padding-bottom: 20px;
  border-bottom: 1px solidrgb(220, 224, 224)

}

.checkin-dates{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(209, 214, 214);
}

.total {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 30px;
}

.disclaimer {
  padding-top: 10px;
  font-size: 12px;
}


.booking-page-details {
  color: rgb(72, 72, 72);
  max-width: 590px;
  padding-right: 20px;
  display: flex;
  font-weight: 300;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.booking-page-guests {
  display: flex;
  margin: 0;
  flex-direction: column;
}

.booking-page-details  h3 {
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.1;
}

.booking-page-details  p {
  font-size: 16px;
  line-height: 1.1;
}

.booking-page-details  li {
  font-size: 16px;
  line-height: 2;
}

.booking-checkbox {
  display: flex;
  align-items: center;
}

.booking-checkbox p {
  padding-left: 5px;
}

.booking-page-book-button {
  margin-top: 30px;
}

.booking-textarea {
  padding-top: 20px;
  padding-bottom: 20px;
}

.booking-textarea  textarea{
  font-size: 14px;
  padding: 10px;
}
.booking-textarea p {
  padding-bottom: 10px;
}

// homeindex
.home-index-image {
  height: 280px;
  width: 390px;
  padding-bottom: 5px;
}

.home-index {
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 15px;
  width: 65%;

}

.home-index-item {
  margin: 9px;
}

.home-index-item div {
  // padding-top: 3px;
}

.home-index-item-feats {
  font-weight: 200;
  font-size: 14px;
  // padding-top: 10px;
  // padding-bottom: 5px;
}


/*session-form*/
.session-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 3;
  padding: 32px;
  width: 510px;
  height: 570px;
  border: 1px solid rgb(209, 214, 214);
  justify-content: flex-start;
}

.session-form p {
  border-top: 1px solid rgb(209, 214, 214);
  font-weight: lighter;
  padding: 20px;
}

.session-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 40px;
}

.session-form form h1 {
  margin-bottom: 30px;
  margin-top: 30px;
  display: flex;
  font-size: 28px;
  font-weight: bold;
  align-self: flex-start;
}

.session-form input {
  display: flex;
  font-size: 19px;
  padding: 11px;
  border-radius: 2px;
  width: 450px;
  /*height: 24px;*/
  /*box-sizing: border-box;*/
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid rgb(209, 214, 214);
}

.session-form-submit {
  // display: flex;
  // justify-content: center;
  // height: 50px;
  //
  // background-color: rgb(255, 90, 95);
  // border-radius: 4px;
  // color: white;
  // font-weight: 350;

  display: block;
  white-space: normal;
  width: 80%;
  border-color: #ff5a5f;
  background-color: #ff5a5f;
  color: #fff;
  padding: 9px 27px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  line-height: 1.43;
}

// .session-form-submit button:hover {
//     background-color: rgb(255, 400, 95);
// }

.hidden {
  display: none !important;
}
.hidden-background {
  display: none;
}

/*session-buttons*/
.session-button button:hover {
  border-bottom: 2px solid rgb(72, 72, 72);
}

.session-button button {
  // font-family: 'Varela Round', sans-serif;
  font-family: 'Rubik', sans-serif;
  padding: 23px 15px 30px 15px;

  /*display: flex;*/
  font-size: 14px;
  background:none;
  border:none;
  height: 40px;
  // padding:30px;
  /*padding-left: 32px;
  padding-right: 32px;*/
}

.session-button {

  color: #767676;
  display: flex;
  justify-content: flex-end;
}

.session-button img {
  max-width: 25px;
}

/*X-button*/
.x-button {
  display: flex;
  align-self: flex-start;
  font-weight: lighter;
  // font-family: 'Varela Round', sans-serif;
  font-family: 'Rubik', sans-serif;
  /*display: flex;*/
  font-size: 30px;
  background: none;
  border:none;
  height: 40px;
  margin:0;
  padding: 0;

}

// HomesDetail

.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 35%;
  left: 40%;
}

.loading-background {
  z-index: 10;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 100);
}


/*modal*/


.session-form-background {
  z-index: 10;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}


.modal {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*UserDropDown*/
.avatar {
  cursor: pointer;
  // margin: 10px ;
  margin-top: 18px;

  max-width: 25px;
  height: 25px;
  border-radius: 50%;
}

.avatar:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
}

.active {
  cursor: pointer;
  padding: 0 14px 0px 14px ;
  border-radius: 3px;
  position: absolute;
  top: 35px;
  right: 0;
  background-color: #FFFFFF;
  width: 240px;
  box-shadow: 3px 8px 16px 3px rgba(0,0,0,0.6);
  z-index: 1;
}

.session-button-background{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);

}

.dropdown {
  display: flex;
  justify-content: flex-end;
  margin-left: 16px;
  margin-right: 16px;
  font-weight: normal;
  font-size: 14px;
  color: #767676;

}



.active li {
    width: 230px;
    height: 20px;
    color: #767676;
    padding: 16px;
    text-decoration: none;
    background-color: #FFFFFF;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.active li:hover {
   border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.active li:last-of-type {
    margin-bottom: 10px;
}

.pullDown{
	animation-name: pullDown;
	-webkit-animation-name: pullDown;

	animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;

	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;

	transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	-webkit-transform-origin: 50% 0%;
}

@keyframes pullDown {
	0% {
		transform: scaleY(0.1);
	}
	40% {
		transform: scaleY(1.02);
	}
	60% {
		transform: scaleY(0.98);
	}
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(0.98);
	}
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(1);
	}
}

@-webkit-keyframes pullDown {
	0% {
		-webkit-transform: scaleY(0.1);
	}
	40% {
		-webkit-transform: scaleY(1.02);
	}
	60% {
		-webkit-transform: scaleY(0.98);
	}
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(0.98);
	}
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(1);
	}
}

// trips
.trip-item {
  color: #484848;
  max-height: 530px;
  border: 1px solid rgb(209, 214, 214);
  text-align: center;
  max-width: 310px;
}

.trip-item h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
}

.view-receipt {
  border-top: 1px solid rgb(209, 214, 214);
  border-bottom: 1px solid rgb(209, 214, 214);
}

.trip-item p {
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  font-weight: 300;
  padding-bottom: 5px;

}

.trip-item h5 {
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  font-weight: 500;
  padding: 15px;
}

.trip-item h5:hover {
  color: #60B2B5 ;
  text-decoration: underline;
}

.trip-item {
  margin: 20px;
}

.trip-item img {
  width: 310px;
  height: 200px;
}

#stars {
  padding-top: 10px;
  color: #008489;
}

.trips {
  margin-top: 150px;
}

.trips h1 {
  padding: 30px;
  font-size: 30px;
  font-weight: normal;
  line-height: 1.1;
}

.trips-trip-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}


// googlemaps
#map {
  width: 650px;
  height: 100vh;
  //  z-index: 0;
   position: relative;
 }

#map-container {
  height: 100vh;
  position: sticky;
  top: 0;
  width: 33%;
  position: fixed;
  right: 0;
 }

.homes-page-container-map {
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pac-container:after {
  background-image: none !important;
  height: 0;
}

.pac-icon {
  width: 0;
  height: 0;
}

// users
#user-avatar {
  margin-right: 10px;
  width: 50px !important;
  height: 50px !important;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 100px;
  height: 100px;

}

.review-item{
  border-top: 1px solid rgb(209, 214, 214);
  padding-bottom: 20px;
  padding-top: 30px;
}

.review-item-header{
display: flex;
justify-content: space-between;

}

.user-reviews{
  font-size: 10px !important;
}

.review-item-header-right{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.review-item-header-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.review-item-header-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.review-item-header-left i {
  padding: 5px;
  margin-left: 5px;

}


.create-review-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.create-review-form button{
  display: block;
  white-space: normal;
  width: 139px;
  border-color: #008489;
  background-color: #008489;
  color: #fff;
  padding: 9px;
  font-size: 13px;
  border-radius: 4px;
  border: 1px solid;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  line-height: 1.43;
}

.create-review-form button:hover{
  border-color: #007377;
  background-color: #007377;
}



.create-review-form input{
  width: 480px;
  height: 24px;
  margin-bottom: 20px;
  padding: 10px;
}

.create-review-button{
  display: block;
  white-space: normal;
  width: 160px;
  border-color: #008489;
  background-color: #008489;
  color: #fff;
  padding: 9px;
  font-size: 15px;
  border-radius: 4px;
  border: 1px solid;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  line-height: 1.43;
}

.create-review-button:hover{
  border-color: #007377;
  background-color: #007377;
}


.edit-buttons {
  display: flex;
  justify-content: flex-end;
}

.edit-buttons i {
  padding: 10px;
}


#helpful {
  border-left: 1px solid rgb(209, 214, 214);
  padding-left: 5px;
}

.helpful {
  border: 1px solid rgb(209, 214, 214);
  width: 110px;
  border-radius: 5px;
}

.show-body {
  min-height: 50px;
  padding-top: 15px;
}

.create-review-container{
  border-top: 1px solid rgb(209, 214, 214);
  justify-content: center;
  padding: 20px;
  display: flex;
}

// footer
.footer-container {
  // margin-top: 700px;
  border-top: 1px solid rgb(209, 214, 214);
  display: flex;
  width: 100%;
  flex-direction: column;
  color: rgb(118, 118, 118);
  align-items: center;
}

.footer-container p {
  color: rgb(118, 118, 118);
  word-wrap: break-word !important;
  font-size: 15px !important;
  line-height: 25px !important;
  letter-spacing: 0.2px !important;
}

.footer-container p:hover {
  text-decoration: underline;
}

.footer-container h5 {
  font-weight: 700 !important;
  color: #484848 !important;
  margin-bottom: 0px !important;
  padding: 20px 0 10px 0;
  word-wrap: break-word !important;
  font-size: 15px !important;
  line-height: 18px !important;
  letter-spacing: 0.2px !important;
}

.footer-main {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 700px;
  padding-bottom: 25px;

}

.footer-sub {
  display: flex;
  min-width: 700px;
  padding: 30px;
  border-top: 1px solid rgb(209, 214, 214);
  justify-content: space-between;
}

.footer-sub-left {
  display: flex;
  align-items: center;
}

.footer-sub-left p {
  padding: 0 10px 0 10px;
}

.footer-sub-left i {
  padding: 0 10px 0 10px;
  align-items: center;
}

.footer-sub-right {
  display: flex;
}

.footer-sub-right i {
  padding: 0 ;
}
.footer-sub-right p {
  padding: 0 12px 0 12px;
}

.footer-sub-right-sub {
  display: flex;
  align-items: center;
}

.footer-sub-right-icons {
  display: flex;
  align-items: center;
}

.footer-sub-right-icons i {
  padding: 0 10px 0 10px;
}

.footer-sub-right-icons p {
  padding: 0 12px 0 12px;
}

#footer-image{
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  padding: 0 15px 0 0;
  justify-content: center;
  height: 50px;
  width: auto !important;
}

.show-edit-form textarea {
  resize: none;
  margin: 0px;
  padding: 10px;
  width: 450px;
  height: 70px;
}

.show-edit-form{
  padding-top: 20px;
}

#update-review {
  display: block;
  white-space: normal;
  width: 130px;
  border-color: #008489;
  background-color: #008489;
  color: #fff;
  padding: 5px;
  font-size: 13px;
  border-radius: 4px;
  border: 1px solid;
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
  line-height: 1.43;
}

#update-review :hover{
  border-color: #007377;
  background-color: #007377;
}
#review-date{
  font-size: 10px !important;
}
#experiences {
  height: 302px;
  width: auto;
  top: 190px;

  left: 140px;
/* position: absolute; */
}
#places{
  height: 302px;
  width: auto;
  top: 190px;

  left: 140px;
}

#notrips{
  height: 302px;
  width: auto;
  top: 190px;

  left: 140px;
}
