/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }
 body {
 	line-height: 1;
 }
 ol, ul {
 	list-style: none;
 }
 blockquote, q {
 	quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: '';
 	content: none;
 }
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }

/*css reset*/
/*Main*/
body {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  color: rgb(72, 72, 72);
}


// header
.top-nav {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-nav button {
  color: #767676;
}



/*logo*/
.logo img {

  height: 50px;
  width: auto;
}


.header-container {
  box-shadow: 0px 4px 16px 3px rgba(0,0,0,0.2);
  margin-bottom: 50px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.home-page-greeting{
  width: 620px;
  margin-left: 140px;
  margin-right: 138px;
  padding-top: 60px;
  margin-bottom: 80px;
}
.home-page-greeting-title{
  color: #FF5A5F;
  font-weight: bold;
  font-size: 48px;
  text-rendering: optimizeLegibility;
}
.home-page-greeting-body{
  padding-top: 10px;
  display: block;
  color: #484848;
  letter-spacing: -0.8px;
  font-weight: 300;
  font-size: 48px;
  text-rendering: optimizeLegibility;
}

.site-nav-buttons {
  padding-bottom: 21px;
  margin-left: 130px;
}

.site-nav-buttons a {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  padding-bottom: 17px;
}

//
// .anywhere-searchbutton {
//   height: 20px;
//   border: 1px solid rgba(0, 0, 0, 0.2);
//   border-left: none;
// }
// .when-calender-button{
//   height: 20px;
//   border: 1px solid rgba(0, 0, 0, 0.2);
//   border-left: none;
//   border-right: none;
// }
// .guest-button{
//   height: 20px;
//   border: 1px solid rgba(0, 0, 0, 0.2);
//   border-right: none;
// }

.selected-site-nav-button {
  border-bottom: 3px solid #008489;
}

// SearchFormButtons
.search-form-button {
  display: flex;
  flex-direction: row;
}

.search-form-button input {
  border: none;
  padding: 10px;
  height: 15px;
  width: 150px;
}







// homeindex
.home-index-image {
  // max-width: 440px;
  // min-width: 340px;
  max-height: 280px;

  // min-height: 230px;
  padding-bottom: 5px;
}

.home-index {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;

}

.home-index-item {
  margin: 15px;
}

.home-index-item div {
  padding-top: 3px;
}


/*session-form*/
.session-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 32px;
  width: 510px;
  height: 570px;
  border: 1px solid #aaa;
  justify-content: flex-start;
}

.session-form p {
  border-top: 1px solid #aaa;
  font-weight: lighter;
  padding: 20px;
}

.session-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  /*height: auto;*/
}

.session-form form h1 {
  margin-bottom: 30px;
  margin-top: 30px;
  display: flex;
  font-size: 28px;
  font-weight: bold;
  align-self: flex-start;
}

.session-form input {
  display: flex;
  font-size: 19px;
  padding: 11px;
  border-radius: 2px;
  width: 450px;
  /*height: 24px;*/
  /*box-sizing: border-box;*/
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #aaa;
}

.session-form-submit {
  display: flex;
  justify-content: center;
  height: 50px;
  /*border-color: rgb(255, 90, 95);*/
  background-color: rgb(255, 90, 95);
  border-radius: 4px;
  color: white;
  font-weight: 350;
}

.hidden {
  display: none
}
.hidden-background {
  display: none
}

/*session-buttons*/
.session-button button:hover {
  border-bottom: 2px solid rgb(72, 72, 72);
}

.session-button button {
  font-family: 'Varela Round', sans-serif;
  padding: 15px;
  /*display: flex;*/
  font-size: 14px;
  background:none;
  border:none;
  height: 40px;
  // padding:30px;
  /*padding-left: 32px;
  padding-right: 32px;*/
}

.session-button {
  color: #767676;
  display: flex;
  justify-content: flex-end;
}

.session-button img {
  max-width: 25px;
}

/*X-button*/
.x-button {
  display: flex;
  align-self: flex-start;
  font-weight: lighter;
  font-family: 'Varela Round', sans-serif;
  /*display: flex;*/
  font-size: 30px;
  background: none;
  border:none;
  height: 40px;
  margin:0;
  padding: 0;

}







/*modal*/


.session-form-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.7);
}


.modal {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*UserDropDown*/
.avatar {
  cursor: pointer;
  // margin: 10px ;
  margin: 10px;
  max-width: 25px;
  height: 25px;
  border-radius: 50%;
}

.avatar:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
}

.active {
  padding: 0 16px 0px 16px ;
  border-radius: 3px;
  position: absolute;
  top: 35px;
  right: 0;
  background-color: #FFFFFF;
  min-width: 160px;
  box-shadow: 3px 8px 16px 3px rgba(0,0,0,0.6);
  z-index: 1;
}

.dropdown {
  display: flex;
  justify-content: flex-end;
  margin-left: 16px;
  margin-right: 16px;
  font-weight: normal;
  font-size: 14px;
  color: #767676;

}



.active li {
    width: 230px;
    height: 20px;
    color: #767676;
    padding: 16px;
    text-decoration: none;
    background-color: #FFFFFF;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.active li:hover {
   border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}
.active li:last-of-type {
   border-bottom: none;
}

.pullDown{
	animation-name: pullDown;
	-webkit-animation-name: pullDown;

	animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;

	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;

	transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	-webkit-transform-origin: 50% 0%;
}

@keyframes pullDown {
	0% {
		transform: scaleY(0.1);
	}
	40% {
		transform: scaleY(1.02);
	}
	60% {
		transform: scaleY(0.98);
	}
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(0.98);
	}
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(1);
	}
}

@-webkit-keyframes pullDown {
	0% {
		-webkit-transform: scaleY(0.1);
	}
	40% {
		-webkit-transform: scaleY(1.02);
	}
	60% {
		-webkit-transform: scaleY(0.98);
	}
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(0.98);
	}
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(1);
	}
}



/*css custom*/
